body {
  min-height: 100vh;
  border: 4px solid #FFFF00;
}

h1, h2, h3, h4 {
  font-family: 'Arapey', serif;
  font-style: italic;
  line-height: 1.4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
  font-weight: bold;
}

h5 {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.7em;
  /*font-style: italic;*/
  /*color: #333;*/
}

hr {
  opacity: .5;
}

p, ul, tr {
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.7em;
  padding: 1em .5em;
}

.content ul li {
  list-style-type: disc;
  margin-left: 1em;
  margin-top:
}

.content ul {
  margin-top: -2em;
}

td {
  border: 1px solid #ddd;
  padding-left: 10px;
}

a {
  color: #ff8585;
}

.highlight {
  color: #000;
  line-height: 0.6em;
  display: inline-block;
  background-color: #FFFC00;
}

.yellow-bg {
  background-color: #FFFC00;
}

.home-content {
  padding: 3em 0em;
}

.no-shadow {
  box-shadow: none;
}

#logo-container {
  font-family: raleway;
  font-size: 1.5em;
  font-weight: 900;
  border-bottom: 1px solid #CDCDCD;
  height: 2.2em
}

header {
  margin-top: 1.5em;
  margin-bottom: 3.5em;
}

nav .hide-on-med-and-down a {
  font-family: raleway;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: inherit;
  border-bottom: 1px solid #D2D2D2;
  line-height: 2.2em;
}

nav .hide-on-med-and-down li {
  display: inline;
  list-style-type: none;
  padding-left: 5em;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  text-transform: uppercase;
}

nav .brand-logo {
  font-size: 1.8em;
}

nav ul a:hover {
  background-color: inherit;
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -2px;
  background: #333;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  left: 0;
  right: 0;
}

#home-side-image img {
  max-width: 220px;
}

#home-content-text {
  padding: 0px 7em;
}

.side-nav {
  padding: 0;
  font-family: raleway;
  font-size: 1em;
}

.side-nav .userView{
  border-bottom: #FFF000 2px solid;
}

/*Responsive video*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  /*overflow: hidden;*/
  margin-top: 3em;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content p img {
  padding: 1em .7em;
}

.content p img, .col img {
  width: 100%;
  padding: 2em .5em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


/*-----------------------*/

.content {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.article-title {
  border-bottom: 1px solid #ddd;
}

.grid {
  width: 100%;
  margin: auto;
  margin: 3em, 0em;
}

.grid:after {
  content: '';
}

.grid-sizer, .grid-item {
  width: 33.33%;
}

.grid-item {
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
  padding: 0 3px;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.grid figcaption {
  padding: 1em;
  color: #fff;
  font-family: raleway;
  font-weight: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figcaption::before, .grid figcaption::after {
  pointer-events: none;
}

.grid figcaption, .grid figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid h2 a {
  font-weight: 300;
  color: #333;
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 1em;
  display: inline-block;
}

.effect-duke img, .effect-duke p {
  width: 100%;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: opacity 0.7s, transform 0.7s;
}

.effect-duke:hover img {
  opacity: 0.08;
  /*-webkit-transform: scale3d(1.05, 1.05, 1);*/
  /*transform: scale3d(1.05, 1.05, 1);  */
}

.effect-duke h3 {
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 20% 100%;
  transform-origin: 20% 100%;
  width: 100%;
}

.effect-duke p {
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.7em;
  position: relative;
  color: #333;
  padding: 30px;
  text-transform: none;
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}

.effect-duke:hover h3, .effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.glsl_editor {
  float: left;
  width: 100%;
}

.copy {
  width: 75%;
  margin: auto;
  padding: 0em 3em;
  margin-bottom: 2em;
}

.copy p {
  font-size: .7em;
  color: #666666;
}

.copy .iconset {
  line-height: 1.7em;
  padding: 1em 1em;
}

.copy .iconSet a {
  text-decoration: none;
  color: #333;
  margin: 5px 0px 0px 10px;
  float: right;
}

.about-profile-image img {
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
}


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (min-width: 1025px) {
  .container {
    width: 70%;
    max-width: 1650px;
  }
}

@media only screen and (max-width: 1024px) {
  .grid {
    width: 100%;
  }
  .grid-sizer, .grid-item {
    width: 50%;
  }
  #home-content-text {
    padding: 0px 1em;
  }
  .home-content {
    padding: 0em;
  }
  #home-side-image {
    display: none;
  }
  .CodeMirror-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    width: 100%;
  }
  .grid-sizer, .grid-item {
    width: 100%;
  }
  .content p img {
    padding: 0em;
  }
}
