/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}


/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

.width_80 {
    width: 80%;
    margin: auto;
}


/* all browsers except IE6 and lower */

.grid {
    background: #fff;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}


/* clear fix */

.clearfix {
    position: fixed;
    z-index: 999;
}

.grid:after {
    content: '';
    /*display: block;*/
    /*clear: both;*/
}


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.33%;
}

.grid-item {
    float: left;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
}

.grid-item img {
    /*display: block;*/
    max-width: 100%;
    opacity: 0.9;
}


/*.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}*/


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figcaption {
    padding: 2em;
    color: #fff;
    font-family: raleway;
    font-weight: 200;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figcaption::before,
.grid figcaption::after {
    pointer-events: none;
}

.grid figcaption,
.grid figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid h2 span {
    /*font-weight: 300;
    color: #333;
    font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 1em;
    background: yellow;
    padding: 3px 5px 8px 5px;*/
}

.grid h2 a {
    font-weight: 300;
    color: #333;
    font-family: 'Arapey', serif;
    font-style: italic;
    background-color: #FFFC00;
    font-size: 1em;
    /*line-height: 0.8em;*/
    /*padding: 3px 5px 8px 5px;*/
    /*margin-bottom: .5em;*/
    display: inline-block;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*---------------*/


/***** Duke *****/


/*---------------*/

.effect-duke {
    /*background: -webkit-linear-gradient(-45deg, #080808 0%, #646464 100%);
    background: linear-gradient(-45deg, #080808 0%, #646464 100%);
    border-top: 6px solid #F3EFE0;
    border-left: 6px solid #F3EFE0;*/
}

.effect-duke img,
.effect-duke p {
    width: 100%;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, transform 0.7s;
}

.effect-duke:hover img {
    opacity: 0.08;
    -webkit-transform: scale3d(1.3, 1.3, 1);
    transform: scale3d(1.3, 1.3, 1);
}

.effect-duke h2 {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 20% 100%;
    transform-origin: 20% 100%;
}

.effect-duke p {
    font-family: merriweather;
    font-weight: 100;
    position: absolute;
    /* bottom: 0; */
    font-weight: 500;
    left: 0;
    color: #333;
    margin: 20px;
    padding: 30px;
    /* border: 2px solid #fff; */
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
}

.effect-duke:hover h2,
.effect-duke:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    h1 {
        font-size: 1em;
    }
    .width_80 {
        width: 95%;
    }
    .grid {
        width: 100%;
    }
}
