@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,800,100,700,900,400,200,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arapey:400,400italic);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* force scrollbar */

html {
    /*overflow-y: scroll;*/
}

body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 0.01rem;
    font-weight: 200;
    color: #333;
}

h1 {
    font-size: 2.5em;
    font-family: 'Arapey', serif;
    font-style: italic;
}

.subheader h1 a {
    background-color: #FFFC00;
    line-height: 0.6em;
    /*margin-bottom: .5em;*/
    display: inline-block;
}

h2 {
    font-size: 1.5em;
    font-family: 'Arapey', serif;
    font-style: italic;
}

h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
}

p {
    padding: 1em 0em;
    line-height: 1.8em;
    font-size: 1.1em;
}

h4 span {
    font-weight: 800;
    border-bottom: 2px solid #333;
    margin: 10px 0px;
}

h4 {
    /*margin: 12px 0px;*/
    font-size: 1.3em;
    padding: 1em 0em;
}

li {
    list-style-type: disc;
    margin: 20px;
}

td, th{
    padding: 10px;
    border: 1px solid #ddd;
}

thead {
    margin: 10px;
    border: 1px solid #ddd;
}


/*path {
    fill: #222;
    transition: fill 2.0s !important;
    }*/

.col {
    /*background: #ccc;*/
    padding: 1em 0;
    text-align: left;
}

.logo {
    text-align: left;
    width: 150px;
}

.topNav {
    float: right;
}

.topNav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    /*float: right;*/
    text-decoration: none;
    color: #333;
    font-weight: 800;
    text-transform: uppercase;
}

.topNav a {
    color: inherit;
    text-decoration: inherit;
    border-bottom: 1px solid #D2D2D2;
    padding: 5px;
    font-family: raleway;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: -2px;
    background: #333;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #FFFC00;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 5px;
}

.nav {
    text-align: right;
}

.nav li {
    display: inline;
    margin: 0px 20px;
}

#nav-toggle {
    position: absolute;
    left: 10px;
    top: 10px;
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    background-color: yellow;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: rgb(47, 47, 47);
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}


/* ---- isotope ---- */

.header,
.subheader {
    width: 90%;
    margin: auto;
}

.subheader img {
    width: 100%;
    /*padding: 1.5em 0em;*/
    /*margin: 40px 0px;*/
    /*max-width: 300px;*/
}


/*.subheader h1 a {
    background: transparent;
}*/

.subheader ul {
    list-style: none;
    margin-top: -25px;
}

.tagline {
    text-align: left;
}

.tagline h1 {
    /*width: 500px;*/
}

.bloglink {
    /*background-image: url('../img/blog_bg2.svg');*/
    background-repeat: no-repeat;
    background-size: inherit;
    /* background-position: center; */
    background-position-x: 100%;
    min-height: 300px;
    position: relative;
    /*text-indent: -99999px;*/
}

.bloglink span {
    position: absolute;
    top: 25%;
    right: 14%;
    font-family: 'Merriweather';
    font-size: 3em;
    text-align: center;
    font-weight: 100;
}

.bloglink img {
    /*max-width: 300px;*/
    max-width: 100%;
    padding: 0em 4em;
}

.bloglink a {
    background: transparent;
}

.logo {
    margin-bottom: 3em;
}

.logo span {
    font-family: raleway;
    font-size: 1.5em;
    font-weight: 900;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 10px;
}

.cover_img img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.smallImg img{
    width: 30%;
}


/*.logo h3 {
    font-family: 'Muli';
}
*/

.blogpostGrid {
    margin-left: 1.6%;
}

.blogpostGrid li {
    /*width: 25%;*/
    height: 300px;
    text-align: center;
    border: 1px solid #ddd;
    list-style: none;
    text-decoration: none;
    /*float: left;*/
    color: #666;
    margin: 10px;
    padding: 25px;
    /*margin: 1% 1.5% 1% 0%;*/
    /*padding-top: 50px;*/
}

.blogpostGrid li a {
    text-decoration: none;
    color: #666;
    margin-top: 40px;
}

.blogpostGrid .divider {
    width: 50%;
    margin: auto;
}

.blogpostGrid h2 {
    height: 55px;
}

.postItem {
    width: 23.8%;
}

.imgThumb {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 40px;
}

.about li {
    margin-top: 10px;
}

.about a {
    text-decoration: none;
    color: #333;
    margin-top: 40px;
}

.profileImg img {
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.footnote {
    margin: 20px 0px;
}

.iconSet {
    width: 95%;
}

.iconSet a {
    text-decoration: none;
    color: #333;
    margin: 5px 0px 0px 10px;
    float: right;
}


/* Media queries */

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid-item {
        display: inline-block;
        float: none;
        margin: 5px auto;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
    .postItem {
        width: 31.33%;
    }
}

@media screen and (max-width: 940px) {
    .width_80 {
        width: 95%;
    }
    .tagline {
        width: 100%;
    }
    .bloglink {
        display: none;
    }
    .topNav {
        display: none;
    }
    #nav-toggle {
        display: block;
    }
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
    .postItem {
        width: 47%;
    }
}

@media screen and (max-width: 720px) {
    .width_80 {
        width: 100%;
    }
    .logo {
        text-align: center;
        width: 100%;
        padding: 5px;
    }
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .postItem {
        width: 100%;
    }
}
