body {
    background-color: #222;
}

h3 {
    font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    color: #2980B9;
    font-size: 1.2em;
    margin-bottom: .4em;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .4;
}

.land {
    fill: #333;
}

.boundary {
    fill: none;
    stroke: #666;
    stroke-width: .5px;
}

.text {
    font-size: 4em;
}

.symbol {
    fill: #fff;
    fill-opacity: .8;
    stroke: #fff;
}
